<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Información de la Ruta</title>
  </head>
  <body>
    <h1 style="color: #333">Información de la Ruta</h1>
    <p style="margin-bottom: 10px"><strong>Nombre:</strong> <%= nombre %></p>
    <p style="margin-bottom: 10px">
      <strong>Descripción:</strong> <%= descripcion %>
    </p>
    <p style="margin-bottom: 10px">
      <strong>Distancia:</strong> <%= distancia %> km
    </p>
    <p style="margin-bottom: 10px">
      <strong>Punto de Origen:</strong> <%= origen %>
    </p>
    <p style="margin-bottom: 10px">
      <strong>Punto de Destino:</strong> <%= destino %>
    </p>
    <a
      href="https://drive.google.com/file/d/14uGHM7LLUKnF4coTgR2pzJd_Kc6BkM-N/view?usp=sharing"
      style="
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #ff6600;
        border-radius: 5px;
        text-decoration: none;
      "
      >Descargar App</a
    >
  </body>
</html>
